<!DOCTYPE html>

{% block prehtml %}
{% endblock %}


<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href="{{ MEDIA_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
	{% block scripts %}{% endblock %}
</head>
<body>
	<div class="hero-unit">
	  <h1>Исторический сайт</h1>
	</div>	
<h2>Темы</h2>
<ol>
	{% for cur_label in labels %}
		<li>{{ cur_label.name }}</li>
		<ol>
		{% for cur_topic in cur_label.getVisibleTopics %}
			<li><a href="{{ ROOT_URL }}topic/{{ cur_topic.id }}">{{ cur_topic.title }}</a></li>
		{% endfor %}
		</ol>
	{% endfor %}	
</ol>


{% block content %}
{% endblock %}

<div id="footer">
	<span id="copyright">&copy; 2012, 2013 <a href="http://dmitripisarenko.me/">Дмитрий Писаренко</a>. При перепечатке ссылка на сайт обязательна. Если у Вас есть идеи, как улучшить материалы этого сайта, можете со мной <a href="http://dmitripisarenko.me/%D0%BA%D0%BE%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D1%82%D1%8B"/>связаться</a>.</span>	
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>	
</div>
</body>
</html>