<!DOCTYPE html>

{% block prehtml %}
{% endblock %}


<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	{% block scripts %}{% endblock %}
</head>
<body>
<h1>Мнение № {{ opinion.id }} </h1>
<h2>Содержание</h2>
{{ opinion.contents }}
<h2>Источник</h2>
{{ opinion.source }}
<h2>Аргументы "за"</h2>
<ol>
	{% for cur_opinion in opinion.proArguments.all %}
		<li><a href="http://127.0.0.1:8000/opinion/{{ cur_opinion.id }}">{{ cur_opinion.contents }}</a></li>
	{% endfor %}
</ol>

<h2>Аргументы "против"</h2>
<ol>
	{% for cur_opinion in opinion.contraArguments.all %}
		<li><a href="http://127.0.0.1:8000/opinion/{{ cur_opinion.id }}">{{ cur_opinion.contents }}</a></li>
	{% endfor %}
</ol>

{% block content %}
{% endblock %}

<div id="footer">
	<span id="copyright">&copy; 2012, 2013 <a href="http://altruix.ru">Дмитрий Писаренко</a>. При перепечатке ссылка на сайт обязательна.</span>	
</div>
</body>
</html>