<!DOCTYPE html>

{% block prehtml %}
{% endblock %}

<html>
<head>
	<title>{% block title %}{% endblock %}Исторический сайт - {{ topic.title }}</title>
	<link href="{{ MEDIA_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="{{ MEDIA_URL }}css/graphs.css" rel="stylesheet" media="screen">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	{% block scripts %}{% endblock %}
</head>
<body onload="init();">
	<div class="hero-unit">
		<h1>{{ topic.title }}</h1>
	</div>	
	<a href="/">На главную</a>
	<h2>Схема</h2>
	<p>Щёлкните по картинке, чтобы увеличить.</p>
	<a href="{{ MEDIA_URL }}img/argumentation-diagrams/diagram-{{ topic_id_string }}.png"><img src="{{ MEDIA_URL }}img/argumentation-diagrams/diagram-{{ topic_id_string }}.png"/></a>
	<h2>Высказывания</h2>

	<ul>
		{% for argelement in arg_elements %}
			<li>{{ argelement.id }}: {{ argelement.contents }} {% if argelement.url  %} <a href="{{ argelement.url }}" target="_blank">Подробности</a> {% endif %}</li>
		{% endfor %}
	</ul>

	<a href="/">На главную</a>
	{% block content %}
	{% endblock %}
</body>
</html>